<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.SfCellGrid.WPF" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.SfGridCommon.WPF" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.SfSpreadsheet.WPF" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="17.3.0.19" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.Wpf" version="17.3.0.19" targetFramework="net461" />
</packages>